venv/

__pycache__/

*.pyc
*.pyo
*.pyd
*.pyi
*.pyproj
*.idea/

*.db

*.log

instance/

.coverage
htmlcov/

.DS_Store
Thumbs.db

*.sublime-workspace
*.sublime-project

.env
.env.local
.env.*.local

*.egg-info/
dist/
build/

design-docs
